@model List<Student>;
@{
}

<div>
    <a class="btn btn-success" asp-area="" asp-controller="Student" asp-action="Create">Add new student</a>
</div>
<div>
    <table class="table-striped table border mt-2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                     <td>@student.Email</td>
                    <td>@student.Phone</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                        <a class="btn btn-danger btn-sm ms-1" asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>